<!-- start: 1st Page - Home -->
	<div id="home">

		<div class="demo-1">

	        <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">

					<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
						<div class="sl-slide-inner">
						<div class="fond_texte_accueil">
						</div>
                            
                            <div class="deco" data-icon=""><img id="deco-img-1" src="{{ asset('img/logos/logo-xprojets.png') }}" /></div>
							<h2>{{'Xprojets'|trans}}</h2>
							<blockquote>
							<p>{% trans %}Nous vous souhaitons la bienvenue sur le site internet de la Junior-Entreprise de l'Ecole polytechnique.{% endtrans %}</p><br/>
							<!-- <cite>{% trans %}L'équipe XProjets{% endtrans %}</cite> -->
                            
							</blockquote>
                            
                            
                            
                            
						</div>
					</div>

					<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
						<div class="sl-slide-inner">
						<div class="fond_texte_accueil">
						</div>
							<div class="deco" data-icon=""><img id="deco-img-2" src="{{ asset('img/logos/logo-X.png') }}" /></div>
							<h2>{{'Polytechnique'|trans}}</h2>
							<blockquote>
							<p>{% trans %}Depuis près de trente ans, les élèves de l'Ecole polytechnique réalisent des missions à forte valeur ajoutée à la fois pour des PME et de grands groupes industriels.{% endtrans %}</p>
							
							</blockquote>
						</div>
					</div>

					<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
						<div class="fond_texte_accueil">
						</div>
							<div class="deco" data-icon=""><img id="deco-img-3" src="{{ asset('img/logos/logo-sciences.png') }}" /></div>
							<h2>{{'Sciences'|trans}}</h2>
							<blockquote>
							<p>{% trans %}Nos interventions sont réalisées dans la pure tradition de rigueur scientifique propre à notre école. Elles sont donc à forte dominante scientifique et recouvrent tous les domaines de l'ingénierie.{% endtrans %}</p>
							
							</blockquote>
						</div>
					</div>

					<!-- /sl-slider -->

				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->

	    </div>

	</div>
<!-- end: 1st Page - Home -->
	
