<!-- start: 3rd Page - Pricing Tables -->
	<div id="pricing" class="color blue">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">

							<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

					<h2><span>{{'Présentation'|trans}}</span></h2>

				</div>	

			</div>
			<!-- end: Page Title -->
			
			
			<div class="row-fluid">
	
        		<div class="span4">
          			<div class="icons-box">
						
						<img src="{{ asset('img/logos/logo-cnje.png') }}"/>
						<h3>{% trans %}Une Junior-Entreprise, qu'est-ce ?{% endtrans %}</h3>
						<p>
							{% trans %}Une Junior-Entreprise est une association de loi 1901 à but économique non lucratif. Regroupées dès 1969 sous le Congrès National des Junior-Entreprises (CNJE), elles bénéficient aujourd'hui d'un cadre légal leur fournissant un statut fiscal à part entière (lettre de Bérégovoy, 1984) et un taux de charge fiscale réduit (arrêté ministériel de 1988).{% endtrans %} 
						</p>

						<p>
							{% trans %}La Junior-Entreprise est aujourd'hui avant tout une passerelle entre l'école et le monde professionnel. A travers les missions et les études réalisées, elle offre aux élèves un véritable lien entre leur formation et les exigences des entreprises.{% endtrans %}
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						
						<img src="{{ asset('img/logos/logo-X.png') }}" />
						<h3>{% trans %}L'Ecole polytechnique{% endtrans %}</h3>
						<p>
							{% trans %}L'Ecole polytechnique est une école d'ingénieur fondée par la Convention en 1794. Membre fondateur de l'université Paris-Saclay, elle est l'un des pôles principaux de recherche et d'enseignement supérieur en France. Elle fournit aux 500 élèves de chaque promotion une formation pluridisciplinaire visant à transmettre une forte culture scientifique générale, une ouverture à l'international en proposant de nombreux partenariats à l'étranger, ainsi qu'une sensibilisation au monde entrepreneurial.{% endtrans %}
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						
						<img src="{{ asset('img/logos/logo-xprojets-2.png') }}" />
						<h3>{% trans %}Et XProjets?{% endtrans %}</h3>
						<p>
							{% trans %}C'est la Junior-Entreprise de l'Ecole polytechnique. XProjets a vocation à répondre aux besoins des entreprises en proposant un cadre légal et un suivi professionnel à l'ensemble des missions qui lui sont proposées.{% endtrans %}
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

			</div>
			
			<div class="row-fluid">
			<div class="span12" style="text-align : center">
			<img src="{{ asset('img/photo_groupe.jpg') }}" id="image-groupe" class="img-circle" />
			<h3>{% trans %}La nouvelle équipe{% endtrans %}</h3>
			<!--<p>
				{% trans %}
				La nouvelle équipe a pris ses fonctions officiellement le 17 janvier 2014 lors de l'Assemblée Générale Ordinaire prévue à cet effet. Vingt nouveaux visages viennent garnir les rangs des junior-entrepreneurs de l'Ecole polytechnique. Si l'ambiance est au beau fixe, les nouveaux membres ont la lourde tâche de maintenir le dynamisme de croissance de l'année 2013.
				{% endtrans %}
			</p>-->
			</div>
			</div>
	
			
            

			
			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
<!-- end: 3rd Page - Pricing Tables -->
	