<!-- start: 5th Page - About -->
	<div id="about" class="color yellow">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">

							<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

						<h2><span>{{'Nos références'|trans}}</span></h2>

				</div>	

			</div>
			<!-- end: Page Title -->				
		
			<!--start: Row -->
	    	<div class="row-fluid">
			
			<div class="span12">
			<p>{% trans %}
				La liste de nos références prouve la diversité des missions auxquelles nous avons pu être confrontés. De l’étude d’un projet d’innovation pour un grand groupe de CAC 40 jusqu’à l’élaboration d’un business plan pour une PME d’électronique, en passant par la production d’un rapport remis à un grand think tank pour favoriser le développement de l’activité philanthropique, notre spectre d’action est large et varié avec toujours le souci de fournir un travail de qualité à l’écoute de nos clients.
			{% endtrans %}
			</p>
			</div>
			
			<h2 style="text-align : center">{% trans %}Ils nous ont fait confiance...{% endtrans %}</h2>
			
			<div id="cloud-carousel">
			
			<a href="http:\\www.bnpparibas.com"><img class="cloudcarousel" src="{{ asset('img/logos/img1.png') }}" alt="" title="BNP Paribas" /></a>
			<a href="http:\\www.societegenerale.fr"><img class="cloudcarousel" src="{{ asset('img/logos/img2.png') }}" alt="" title="Societe generale" /></a>
			<a href="http:\\www.loreal.fr"><img class="cloudcarousel" src="{{ asset('img/logos/img3.png') }}" alt="" title="L'oréal" /></a>
			<a href="http:\\www.credit-agricole.fr"><img class="cloudcarousel" src="{{ asset('img/logos/img4.png') }}" alt="" title="Crédit Agricole" /></a>
			<a href="http:\\www.edf.com"><img class="cloudcarousel" src="{{ asset('img/logos/img5.png') }}" alt="" title="EDF" /></a>
			<a href="http:\\www.tf1.fr"><img class="cloudcarousel" src="{{ asset('img/logos/img6.png') }}" alt="" title="TF1" /></a>
			<a href="http:\\www.coca-cola.fr"><img class="cloudcarousel" src="{{ asset('img/logos/img7.png') }}" alt="" title="Coca-cola" /></a>
			<a href="http:\\www.samsung.fr"><img class="cloudcarousel" src="{{ asset('img/logos/img8.png') }}" alt="" title="Samsung" /></a>
			<a href="http:\\www.vinci.com"><img class="cloudcarousel" src="{{ asset('img/logos/img9.png') }}" alt="" title="Vinci" /></a>
			<div id="but1" class="carouselLeft" style="position: absolute; bottom: 0px; right: 54px; display: inline;"></div>
			<div id="but2" class="carouselRight" style="position: absolute; bottom: 0px; right: 20px; display: inline;"></div>
			
			</div>
			
			</div>
		
			<div class="row-fluid" style="margin-top : 20px;">
				<div class="span3">
					<h3>{{'Banque / Conseil'|trans}}</h3>
					<ul>
						<li>BNP</li>
						<li>KPMG</li>
						<li>BCG Consulting Group</li>
						<li>MVA Consulting</li>
						<li>Société Générale</li>
						<li>Cabinet Arsène</li>
						<li>Axa</li>
					</ul>
				</div>
				
				<div class="span3">
					<h3>{{'Industrie'|trans}}</h3>
					<ul>
						<li>EDF</li>
						<li>Vinci</li>
						<li>Alstom</li>
						<li>Honeywell</li>
						<li>SPIE Batignolles</li>
						<li>Poste Immobilier</li>
						<li>Coca-Cola</li>
						<li>TF1</li>
						<li>Evenium</li>
					</ul>
				</div>
				
				<div class="span3">
					<h3>{{'Informatique / Technologique'|trans}}</h3>
					<ul>
						<li>Samsung</li>
						<li>Parrot</li>
						<li>Voltys</li>
						<li>SUN Microsystems</li>
						<li>Sygenta</li>
						<li>Sofialys</li>
					</ul>
				</div>
				
				<div class="span3">
					<h3>{{'Organismes publics'|trans}}</h3>
					<ul>
						<li>ONEMA</li>
						<li>Ecole polytechnique</li>
						<li>OFCE</li>
						<li>ISAT</li>
						<li>CSTB</li>
						<li>GEPPM</li>
						<li>HEGP</li>
					</ul>
				</div>
					

			</div>
				
			</div>
			<!--end: Row -->
			

			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
<!-- end: 5th Page - About -->
	