{% extends "JuniorSiteinterneBundle::layout.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}
{% block feuilleStyleAlternative %}
		<link rel="stylesheet" href="{{asset('css/Siteinterne/css/carouseladditionnel.css')}}">
{% endblock %}


{% block body %}
			<section class="row">

{{include("JuniorSiteinterneBundle:SiteInterne:sousmenumissions.html.twig")}}
				<div id="content" class="col-md-9 col-md-offset-1">
					{% if edit == 0 %}
					{% if client.particulierEntreprise == "particulier" %}
						<h1>{{client.prenomContact}} {{client.nomContact}} (Particulier)</h1>
						<ul>
								<li>Fonction : {{client.fonctionContact}}</li>
								<li>Adresse email : {{client.email}}</li>
								<li>Numéro de téléphone : {{client.telephone}}</li>
								<li>Adresse :
									<ul>
										<li>{{client.adresse1}}<br/>
										{% if client.adresse2%}{{client.adresse2}}{% endif %}<br/>
										{% if client.adresse3%}{{client.adresse3}}{% endif %}<br/>
										{{client.codePostal}} {{client.ville}}<br/>
										{{client.pays}}</li>
									</ul>
						</ul>
					{% else %}
						<h1>{{client.nom}}</h1>
						<ul>
								<li> Taille de l'entreprise : {{client.taille}}</li>
								<li>Nom du contact : {{client.nomContact}}</li>
								<li>Prénom du contact : {{client.prenomContact}}</li>
								<li>Fonction du contact : {{client.fonctionContact}}</li>
								<li>Adresse email : {{client.email}}</li>
								<li>Numéro de téléphone : {{client.telephone}}</li>
								<li>Adresse :
									<ul>
										<li>{{client.adresse1}}<br/>
										{% if client.adresse2%}{{client.adresse2}}{% endif %}<br/>
										{% if client.adresse3%}{{client.adresse3}}{% endif %}<br/>
										{{client.codePostal}} {{client.ville}}<br/>
										{{client.pays}}</li>
									</ul>
								
						</ul>
					{% endif %}
					<a class="btn btn-warning"href="{{path('junior_siteinterne_missions_client', { 'id': client.id, 'edit': 'ok' })}}">Modifier</a>
					{% else %}
					<div class="well">
					<h1>Modifier le client</h1>
						<br>
						<br>
						{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

						{{ form_errors(form) }}

						<div class="form-group">
							{{ form_label(form.particulierEntreprise, "Type", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.particulierEntreprise) }}

							<div class="col-sm-6">
								{{ form_widget(form.particulierEntreprise, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.nom, "Nom de l'entreprise (si entreprise)", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.nom) }}

							<div class="col-sm-6">
								{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.taille, "Taille de l'entreprise (si entreprise)", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.taille) }}

							<div class="col-sm-6">
								{{ form_widget(form.taille, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.nomContact, "Nom du contact", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.nomContact) }}

							<div class="col-sm-6">
								{{ form_widget(form.nomContact, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.civiliteContact, "Civilité du contact", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.civiliteContact) }}

							<div class="col-sm-6">
								{{ form_widget(form.civiliteContact, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.prenomContact, "Prénom du contact", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.prenomContact) }}

							<div class="col-sm-6">
								{{ form_widget(form.prenomContact, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.fonctionContact, "Fonction du contact", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.fonctionContact) }}

							<div class="col-sm-6">
								{{ form_widget(form.fonctionContact, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.email, "Adresse email", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.email) }}

							<div class="col-sm-6">
								{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.telephone, "Numéro de téléphone", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.telephone) }}

							<div class="col-sm-6">
								{{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							{{ form_label(form.adresse1, "Adresse", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.adresse1) }}

							<div class="col-sm-6">
								{{ form_widget(form.adresse1, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.adresse2, " ", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.adresse2) }}

							<div class="col-sm-6">
								{{ form_widget(form.adresse2, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.adresse3, " ", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.adresse3) }}

							<div class="col-sm-6">
								{{ form_widget(form.adresse3, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							{{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.ville) }}

							<div class="col-sm-6">
								{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							{{ form_label(form.codePostal, "Code postal", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.codePostal) }}

							<div class="col-sm-6">
								{{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							{{ form_label(form.pays, "Pays", {'label_attr': {'class': 'col-sm-4 col-sm-offset-1 control-label'}}) }}
							{{ form_errors(form.pays) }}

							<div class="col-sm-6">
								{{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6 col-sm-offset-4">
								{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
							</div>
						</div>


						{{ form_rest(form) }}

		  
						{{ form_end(form) }}
					</div>
					{% endif %}
				</div>
			</section>
{% endblock %}