{% extends "JuniorSiteinterneBundle::layout.html.twig" %}

{% block title %}
 Configuration - {{parent() }}
{% endblock %}
{% block feuilleStyleAlternative %}
		<link rel="stylesheet" href="{{asset('css/Siteinterne/css/carouseladditionnel.css')}}">
{% endblock %}

{% block titrePage %}
Configuration
{% endblock %}


{% block body %}
			{% if action <= 10%}<section class="row">
				<div id="content" class="col-md-offset-1 col-md-10">
				<div class="row" id="activer" style="text-align:right;cursor:pointer;"><button class="btn btn-sm btn-success">Activer la modification</button></div>
				<div class="row" id="desactiver" style="text-align:right;cursor:pointer;"><button class="btn btn-sm btn-danger">Désactiver la modification</button></div><br/>
				<div class="row"><div class="well col-md-5"><h3>Membres de la JE</h3>
				{% for a in mbje %}
					{{a.username}} <a href="{{path('junior_siteinterne_config', { 'iduser': a.id, 'action': 6 })}}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a><br/>
				{% endfor %}
				<a href="{{ path('junior_siteinterne_config', { 'action': 12}) }}">Nouveau</a></div>
				<div class="well col-md-5 col-md-offset-1"><h3>Pôle Mission</h3>
				{% for a in polemission %}
					{{a.username}} <a href="{{path('junior_siteinterne_config', { 'iduser': a.id, 'action': 7 })}}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a><br/>
				{% endfor %}
				<a href="{{ path('junior_siteinterne_config', { 'action': 13}) }}">Nouveau</a></div></div>
				<div class="row"><div class="well col-md-5"><h3>Administrateurs</h3>
				{% for a in admin %}
					{{a.username}}<a href="{{path('junior_siteinterne_config', { 'iduser': a.id, 'action': 5 })}}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a><br/>
				{% endfor %}
				<a href="{{ path('junior_siteinterne_config', { 'action': 11}) }}">Nouveau</a></div>
				<div class="well col-md-5 col-md-offset-1"><h3>RH</h3>
				{% for a in rh %}
					{{a.username}} <a href="{{path('junior_siteinterne_config', { 'iduser': a.id, 'action': 8 })}}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a><br/>
				{% endfor %}
				<a href="{{ path('junior_siteinterne_config', { 'action': 14}) }}">Nouveau</a></div>
				<div class="well col-md-5"><h3>Recruteur</h3>
					{% if recruteur %}{{recruteur.username}}{% endif %} <br/>
				<a href="{{ path('junior_siteinterne_config', { 'action': 15}) }}">Changer</a></div></div>
				</div>
			</section>
			{% elseif action >= 10 and action <=14 %}
			{% for u in users %}<a href="{{ path('junior_siteinterne_config', { 'action': action-10, 'iduser': u.id}) }}">{{u.username}}</a><br/>{%endfor%}
			{% elseif action == 15 %}
			{% for u in users %}<a href="{{ path('junior_siteinterne_config', { 'action': 9, 'iduser': u.id}) }}">{{u.username}}</a><br/>{%endfor%}
			{% endif %}
			
			<script src="{{asset('js/jquery.min.js')}}"></script>
			<script>
			$(function(){
				{% if action == 0 %}
				$('#desactiver').hide();
				$('section a').hide();
				{% else %}
				$('#activer').hide();
				{% endif %}
				$('#desactiver').click(function(){
					$('section a').hide();
					$('#activer').show();
					$('#desactiver').hide();
				});
				$('#activer').click(function(){
					$('section a').show();
					$('#activer').hide();
					$('#desactiver').show();
				});
			});

			</script>
{% endblock %}