{% extends "JuniorSiteinterneBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block feuilleStyleAlternative %}
{% endblock %}

{% block titrePage %}
Bienvenue sur le site interne d'XProjets.
{% endblock %}

{% block body %}
		<div class="row test">
			<div class="col-md-8">
				<h1>Les missions à pourvoir</h1>
				{% if listeMissions %}
				<table class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>Titre</th>
						<th>Client</th>
						<th>Catégories</th>
						<th>+ d'infos</th>
					</tr>
					</thead>
					<tbody>
						{% for mission in listeMissions %}
						{% if mission.publique and mission.etat == "A pourvoir" %}
						<tr class="">
							<td>{{ mission.nom }}<span class="light">  - {{mission.chaineDeCaractere}}</span></td>
							<td>{% if mission.client.particulierEntreprise == "particulier"%}Particulier{%else%}{{ mission.client.nom }}{%endif%}</td>
							<td>{% for categorie in mission.categories %}{{categorie.name}}{% if not loop.last %}, {% endif %}{% else %} Pas de catégories{% endfor %}</td>
							<td><a href="{{ path('junior_siteinterne_mission', { 'id': mission.id }) }}" class="btn btn-default btn-xs">Détails  &raquo;</a></td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
				{% else %}
					Il n'y a pas de missions à pourvoir en ce moment.
				{% endif %}
			</div>
			<div class="col-lg-4">
			  <img class="img-circle" src="{{ asset('img/logos/argent.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			  <h2>Tu as gagné...</h2>
			  <h2>{{argentGagne}} €</h2>
			  <h2>...jusqu'à présent.</h2>
			</div><!-- /.col-lg-4 -->

		</div>

      <hr class="featurette-divider">

      <!-- Chef de projet -->
      <div class="row">
        <div class="col-lg-4">
					<h1>Mes missions en tant que <span class="text-muted">chef de projet</span></h1>
					{% if listeMissionsCDP %}
					<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>Titre</th>
							<th>Etat</th>
							<th>+ d'infos</th>
						</tr>
						</thead>
						<tbody>
							{% for mission in listeMissionsCDP %}
							<tr class="">
								<td>{{ mission.nom }}</td>
								<td>{{ mission.etat }}</td>
								<td><a href="{{ path('junior_siteinterne_mission', { 'id': mission.id }) }}" class="btn btn-default btn-xs">Détails  &raquo;</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
						Vous n'avez pas encore réalisé de mission en tant que chef de projet.
					{% endif %}
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ asset('img/logos/question.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Qu'est-ce qu'un chef de projet ?</h2>
          <p>Le chef de projet est l’intermédiaire entre le client et le ou les intervenants qui réalisent la mission. Il est en contact avec le client pendant toute la durée de la mission. Il définit avec lui l’étendue de la mission (cahier des charges) et le budget. Pour cela il peut être aidé par le ou les intervenants. Ensuite il veille au bon déroulement de la mission en faisant le lien entre l’intervenant et le client. Il est également chargé de présenter avec l’intervenant le travail fini. <br/>
		  Pour être chef de projet, pas besoin d’avoir une connaissance poussée de tous les domaines ; de la réactivité, et l’envie de connaître le monde de l’entreprise sont largement suffisants ! Alors n’hésite pas à contacter Lilian si ça t’intéresse, il te trouvera la mission parfaite pour commencer !</p>
          <!--<p><a class="btn btn-default" href="#howto" role="button">En savoir plus &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ asset('img/logos/argent.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Comment est-il rémunéré ?</h2>
          <p>La rémunération du chef de projet dépend de la taille de la mission et du temps passé avec le client pour définir le cahier des charges. On ne va pas te mentir ce n’est pas le poste le plus lucratif mais c’est une opportunité en or pour découvrir les entreprises qui t’intéressent tout en étant payé.</p>
          <!--<p><a class="btn btn-default" href="#howto" role="button">En savoir plus &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
	  
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-lg-4">
					<h1>Mes missions en tant qu'<span class="text-muted">intervenant</span></h1>
					{% if listeMissionsINT %}
					<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>Titre</th>
							<th>Etat</th>
							<th>+ d'infos</th>
						</tr>
						</thead>
						<tbody>
							{% for mission in listeMissionsINT %}
							<tr class="">
								<td>{{ mission.nom }}</td>
								<td>{{mission.etat}}</td>
								<td><a href="{{ path('junior_siteinterne_mission', { 'id': mission.id }) }}" class="btn btn-default btn-xs">Détails  &raquo;</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
						Vous n'avez pas encore réalisé de mission en tant qu'intervenant.
					{% endif %}
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ asset('img/logos/question.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Qu'est-ce qu'un intervenant ?</h2>
          <p>L’intervenant réalise la mission. Il définit en collaboration avec le chef de projet, le budget et l’échéancier de la mission. En fonction du temps que tu peux consacrer à une mission, il y en a de différentes tailles dans de nombreux domaines. Consulte les missions à pourvoir si tu veux en faire une ! Si aucune ne t’intéresse ou si elles ne sont pas dans les domaines que tu préfères envoie un message à Lilian, il te préviendra dès qu’une mission qui peut t’intéresser arrive.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ asset('img/logos/argent.png') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Comment est-il rémunéré ?</h2>
          <p>La mission est facturée en terme de Jour-Homme-Etude (JEH) ce qui correspond à 300€ HT pour 8h de travail. Après déduction des charges l’intervenant perçoit 170€ par JEH facturé.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row" id="howto">
	    <div class="col-md-12">
          <h1>Fonctionnement d'<span class="text-muted">XProjets</span></h1>
          <p class="lead">XProjets est la Junior Entreprise (JE) de l’Ecole Polytechnique : une JE est une association qui propose des missions aux étudiants de leur école, celles-ci sont demandées par des entreprises ou des particuliers.</p>
			<img src="{{ asset('img/photo_groupe.jpg') }}" style="    display: block;margin-left: auto;margin-right: auto;border-radius:10px;width:80%;" /><br/>
		  <p>XProjets est découpé en 6 pôles : 
			<ul>
				<li>Le pôle présidence : il est constitué du président (Thibaud Guédon) et du vice-président (Romain Sauvestre). Ils coordonnent tous les deux l’ensemble du travail de la JE, les projets qui doivent être menés,… Le président est de plus le responsable légal de l’association et doit signer tous les papiers officiels au nom d’XProjets.</li>
				<li>Le pôle trésorerie : il est constitué du trésorier (Paul-Armand Veillon) et du vice-trésorier (François Dupuy). Ils gèrent tous les comptes de la JE, facturent les clients, payent les étudiants… Le trésorier est le second responsable légal de l’entreprise.</li>
				<li>Le pôle SecGé/RH : il est constitué du secrétaire général (Pierre L’Hostis) et du RH (Chloé Simpson). Le secrétaire général gère toute la partie administrative de la JE, il la déclare à la préfecture, gère la passation mais aussi est chargé d’organiser les conseils d’administration et d’en faire des compte-rendu. La RH est chargé d’inscrire à la JE tous ceux qui participent à des missions. Elle a aussi un rôle à l’intérieur de l’association car c’est elle qui va maintenir une bonne ambiance dans le groupe à travers l’organisation d’évènements cohéz’.</li>
				<li>Le pôle développement commercial : il est constitué d’un chef de pôle (Ferdinand Legros) et de 3 autres membres (Antoine Michon, Alexandre Valentin, Thibaut Reymond). Ils sont chargés de prospecter pour trouver des missions pour les élèves. Il y en a un qui s’occupe des appels d’offres (Ferdinand), c’est-à-dire qu’il va voir sur le site de la Confédération Nationale des Junior Entreprises (CNJE), les appels d’offres postés par des entreprises ou des particuliers. Un autre s’occupe des contacts directs (Antoine) car les entreprises ne passent pas toujours par des appels d’offres et peuvent chercher à nous contacter directement. Enfin, les deux derniers s’occupent de la prospection (Alexandre et Thibaut), c’est-à-dire qu’ils vont démarcher les entreprises pour qu’elles proposent des missions à XProjets. Une fois une mission trouvée, ils la transmettent aux pôles communication et mission qui vont gérer la suite.</li>
				<li>Le pôle communication : il est constitué d’un chef de pôle (Lilian Darracq) et de 3 autres membres (Agathe Kieny, Kévin Chen et Rémi Delbouys). Ce pôle gère la communication interne à l’école. Il y a un responsable recrutement (Lilian) qui cherche les chefs de projet et les intervenants en postant les missions sur le groupe Facebook ‘XProjets Recrutement’ ou en démarchant directement certains élèves. Un autre gère la partie évènementielle (Agathe)  pour faire connaître la JE auprès des élèves.  Il y a pour les accompagner un respo web (Rémi) qui gère le site internet et un respo graphiste (Kévin) qui gère principalement les affiches.</li>
				<li>Le pôle mission : il est constitué d’un chef de pôle (Marie Schiltz) et de 3 référents missions (Hugo Guihot, Chedly Bourguiba, Vincent Dufour-Décieux). C’est le pôle le plus proche des missions en train d’être réalisées : ils forment, conseillent les chefs de projet et inspectent leur travail.</li>
			</p>
		</div>
      </div>
{% endblock %}